# Hostaway API Configuration
# These values are provided in the Flex Living Developer Assessment
HOSTAWAY_API_KEY=f94377ebbbb479490bb3ec364649168dc443dda2e4830facaf5de2e74ccc9152
HOSTAWAY_ACCOUNT_ID=61148
HOSTAWAY_BASE_URL=https://api.hostaway.com/v1

# Set to "false" to prefer live API data (will fallback to mock if API returns no reviews)
# Set to "true" to always use mock data
NEXT_PUBLIC_HOSTAWAY_USE_MOCK=true

